{% extends 'base.html' %}
{% block title %}- outer{% endblock %}

{% block content %}
<div class="container">
        <div class="row">
            {% for outer in outers %}
            <div class="col-sm-6">
                <div class="card mb-3">
                    <div class="embed-responsive embed-responsive-4by3">
                        <img class="card-img-top embed-responsive-item" src="{{ outer.image.url }}" width="200" alt="{{ bottom }}" />
                    </div>
                    <div class="card-body">
                        <span class="badge bg-outline-dark float-rigth">{{ outer.name }} :{{ outer.price }}원</span>
                        <h3 class="card-title h4">{{ outer.about }}</h3>
                        <a class="btn btn-outline-dark" href="{{ outer.get_absolute_url }}">구입하기 →</a>
                    </div>
                <div class="card-footer">
                    <div class="small text-muted"></div>
                </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}